<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>Login do Cliente</ion-title>

        <ion-buttons slot="start">
            <ion-button color="primary" routerLink="/home">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
   
</ion-header>

<ion-content>
    <div id="header">
    <img src="assets/img/chave-mao99.png"/>
</div>
</ion-content>

<ion-content >

  
    <form [formGroup]="validacao" (ngSubmit)="logar(validacao.value)">
        <ion-item id="form">
            <ion-input  type="text" placeholder="E-mail" formControlName="email"><ion-icon name="person-outline"></ion-icon></ion-input>
        </ion-item>
        <div class="validation-errors"  >
            <ng-container *ngFor="let m of mensagem_validacao.email">
                <div class="error-message" *ngIf="validacao.get('email').hasError(m.type) 
          && (validacao.get('email').dirty 
          || validacao.get('email').touched)">
                    {{m.message}}
                </div>
            </ng-container>
        </div>
        <ion-item id="form">
            <ion-input type="password" placeholder="Senha" formControlName="senha"><ion-icon name="lock-closed-outline"></ion-icon></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let m of mensagem_validacao.senha">
                <div class="error-message" *ngIf="validacao.get('senha').hasError(m.type) 
          && (validacao.get('senha').dirty 
          || validacao.get('senha').touched)">
                    {{m.message}}
                </div>
            </ng-container>
        </div>
            <ion-button color="dark" expand="full" expand="block" shape="round" type="submit" [disabled]="!validacao.valid">Enviar</ion-button>
            <ion-button color="dark" expand="block" shape="round" routerLink="/registro-cliente">Registrar</ion-button>
            <ion-button color="dark" expand="block" shape="round" routerLink="/redefir-senha-cliente">Esqueceu a Senha?</ion-button>
     
    </form>
</ion-content>
    
<!-- <ion-content>
    <div>
        <ion-button  shape="round" expand="blok" color="dark" routerLink="/login-empresa">Logar como Empresa</ion-button>
    </div>
</ion-content> -->

