ion-toolbar{
    --background: #050500;
    color: #fcfcfc;
    text-align: center;
    
}
#ion-title{
  margin-bottom: -20px;
}

ion-content {
    --background: #FFD700;
   

#container{
        text-align: center;

        position: relative;
        left: 0;
        right: 0;
        top: 40%;
    }
}