<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="ion-title">AUXILIUM</ion-title>
    <ion-buttons class="ion-margin-vertical" slot="start">
      <!-- <ion-button (click)="sair()" color="secondary" routerLink="/home">Sair</ion-button> -->
      <ion-icon id="button" name="person-sharp"  slot="fixed" routerLink="/lista-empresa"></ion-icon>
    </ion-buttons >
    
    <ion-buttons class="ion-margin-vertical" class="ion-float-right">
      
      <ion-icon name="exit-outline" routerLink="/home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          Bem vindo {{nomeEmpresa}}
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- <ion-col>
          <ion-button  color="dark" expand="full" expand="block" shape="round" type="submit"  (click)="sair()" routerLink="/home">Sair</ion-button>
        </ion-col> -->
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button  color="dark" expand="full" expand="block" shape="round" type="submit" routerLink="/servico">Serviços</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>    
</div>

<ion-fab vertical="bottom" color="dark" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon  name="add" routerLink="/form-servico"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>


  
