<ion-app>

    <ion-menu contentId="content1" side="start">

        <ion-toolbar>
            <ion-title>inicio-cliente</ion-title>
        </ion-toolbar>

        <ion-content>
            <ion-list>
                <ion-item routerLink="">Perfil</ion-item>
                <ion-item routerLink="">Cliente</ion-item>
                <ion-item routerLink="">Logout</ion-item>
            </ion-list>
        </ion-content>

    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>

</ion-app>