<ion-header>
    <ion-toolbar>
        <ion-title>Inicio Cliente</ion-title>

        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>

        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    

    <div id="container">
        <ion-grid>
          <ion-row>
            <ion-col>
              Bem vindo {{nomeCliente}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="sair()" color="secondary" routerLink="/home">Sair</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>    
    </div>

</ion-content>