<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="primary" routerLink="/inicio-cliente">
                <ion-icon slot="icon-only" name="arrow-back-outline" ></ion-icon>
            </ion-button>

        </ion-buttons>
        <ion-title>
            <h2>Serviço</h2>
        </ion-title>
        <!-- <ion-buttons slot="start">
            <ion-button color="primary" routerLink="/inicio-cliente" > 
              <ion-icon slot="icon-only" name="arrow-back-outline" ></ion-icon>
            </ion-button>
          </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>

    <div>
        <ion-grid id="grid">
            <ion-row *ngFor="let item of images | async" [hidden]="item.email !== email || item.servico !== nome ">
                <ion-col>
                    <img [src]="item.filepath" /> {{item.email}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h2> {{nome}}</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h5> {{descricao}}</h5>
                    <h5> Valor: R$ {{valor}}</h5>
                    <h5> Email: {{email}} </h5>
                </ion-col>
            </ion-row>
            <ion-button color="dark" expand="full" expand="block" shape="round" type="submit" type="submit" (click)="abrirChat()">Chat</ion-button>
            <ion-button color="dark" expand="full" expand="block" shape="round" mode="ios" (click)="avaliar()">Avaliar</ion-button>
            <ion-button color="dark" expand="full" expand="block" shape="round" mode="ios" (click)="exibiravaliacao()">Exibir Avaliação</ion-button>
        </ion-grid>
    </div>

</ion-content>