<ion-header>
    <ion-toolbar>
        <ion-title>
            <h2>Serviço</h2>
        </ion-title>
        <ion-buttons slot="start">
            <ion-button color="primary" routerLink="/inicio-cliente" > 
              <ion-icon slot="icon-only" name="arrow-back-outline" ></ion-icon>
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div id="container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h2> {{nome}}</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h5> {{descricao}}</h5>
                    <h5> Valor: R$ {{valor}}</h5>
                </ion-col>
            </ion-row>
            <ion-item>
                <h5> Email: {{email}} </h5>
                <ion-button color="secondary" (click)="abrirChat()" slot="end">Chat</ion-button>
            </ion-item>
        </ion-grid>
    </div>

    <div>
        <ion-button color="secondary" (click)="avaliar()">Avaliar</ion-button>
    </div>

    <div>

    </div>

</ion-content>