<ion-header>
  <ion-toolbar>
    <ion-title>exibir-avaliacao</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/inicio-cliente">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card *ngFor="let item of avaliacao " [hidden]="item.servico !== nome" >
  
      <ion-card-title>{{item.nome}}</ion-card-title>
      <ion-card-subtitle>{{item.descricao}}</ion-card-subtitle>
      <ion-card-subtitle>{{item.nota}}</ion-card-subtitle>
      <ion-card-subtitle>{{item.servico}}</ion-card-subtitle>
      <ion-card-subtitle>{{item.email}}</ion-card-subtitle>
    
   
  </ion-card>
</ion-content>
 