<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AUXILIUM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AUXILIUM</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div id="container">
    <strong>Bem-vindo ao AUXILIUM!</strong><br/>
    <br/>
      Como deseja se logar?
    
    <div padding="10px">
      <ion-button expand="blok" color="dark" routerLink="/login-cliente">Cliente</ion-button>
    </div>
    <div>
      <ion-button expand="blok" color="dark" routerLink="/login-empresa">Empresa</ion-button>
    </div>
    
   
  </div>
</ion-content>
